---
// Footer Component - Brutalist Design
// Minimal copyright notice
---

<footer class="bg-black text-white py-8 px-6">
  <div class="max-w-7xl mx-auto text-center">
    <p class="text-sm text-gray-500">
      &copy; 2025 Lead Time GTM. All rights reserved.
    </p>
  </div>
</footer>
